<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>统计demo</title>
    <base href="/">
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c2219745bd23d02fbaffe6e90e444229";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script language="JavaScript">var _trackDataType = 'web'; var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10006703"
        src="//fxsjcj.kaipuyun.cn/count/10006703/10006703.js"></script>
</head>

<body ng-app='myApp'>
    <div class="title" id="hello">
        <h1 style="height: 640px">统计Demo</h1>
    </div>
    <div id="content" class="box">
        <div id="baidu" class="box-content">百度统计</div>
        <div id="kaipu" class="box-content">开普云</div>
    </div>

    <script src="plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="plugins/angular.1.2.32.min.js"></script>
    <script type="text/javascript" src="javascripts/Common.js"></script>
    <!-- custom -->
    <script type="text/javascript">
        $("#baidu").on("click", function () {
            window.location.href = "baidu-tongji";
        });
        $("#kaipu").on("click", function () {
            window.location.href = "kaipu-tongji";
        });
    </script>
</body>

</html>