<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        let _hmt = _hmt || [];
        (function() {
            let hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c2219745bd23d02fbaffe6e90e444229";
            let s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div>Hello World!</div>
</body>
</html>